{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/text/css">
  </style>
{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <p class="lead"></p>

    <img src="{{ current_user.avatar(256) }}" width="92" height="92" class="shadow my-3" alt="{{ current_user.username }}">

    <table class="table mb-5">
      <tbody>
        <tr>
          <th>Username</th>
          <td>{{ current_user.username }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ current_user.email }}</td>
        </tr>
      </tbody>
    </table>

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-primary">Delete Account</button>
    </form>
{% endblock %}
