{% extends 'layout.html' %}

{% block title %}Portfolio{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>Portfolio</h1>
	<p class="lead">All your stocks at a glance.</p>

	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('trading.buy') }}"><i class="fas fa-plus"></i> Buy</a>
		</li>
	</ul>

	<table class="table">
		<thead>
			<tr>
				<th>Symbol</th>
				<th class="text-end text-nowrap">Shares</th>
				<th class="text-end text-nowrap">Price</th>
				<th class="text-end text-nowrap">Value</th>
				<th class="text-end text-nowrap">Gain</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in items|sort(attribute='symbol') -%}
			<tr>
				<td>{{ item.symbol }}</td>
				<td class="text-end text-nowrap">{{ item.shares }} pcs</td>
				<td class="text-end text-nowrap">{{ item.price|currencyformat('USD') }}</td>
				<td class="text-end text-nowrap">{{ item.value|currencyformat('USD') }}</td>
				<td class="text-end text-nowrap">{{ item.gain|currencyformat('USD') }}</td>
				<td><a style="text-decoration: none;" href="{{ url_for('trading.sell', symbol=item.symbol) }}"><i class="fas fa-minus"></i> Sell</a></td>
			</tr>
			{% endfor -%}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3"></td>
				<td class="text-end text-nowrap">{{ total|currencyformat('USD') }}</td>
				<td colspan="2"></td>
			</tr>
		</tfoot>
	</table>
{% endblock %}
