{% extends 'layout.html' %}

{% block title %}Sales{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>Sales</h1>
	<p class="lead">Your sales and profit at a glance.</p>

	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Symbol</th>
				<th class="text-end text-nowrap">Shares</th>
				<th class="text-end text-nowrap">Gain</th>
			</tr>
		</thead>
		<tbody>
			{% for txn, profit in sales | sort(attribute="0.date_created", reverse=True) -%}
			<tr>
				<td>{{ moment(txn.date_created).format('L LTS') }}</td>
				<td>{{ txn.symbol }}</td>
				<td class="text-end text-nowrap">{{ txn.shares }} pcs</td>
				<td class="text-end text-nowrap">{{ profit|currencyformat('USD') }}</td>
			</tr>
			{% endfor -%}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3"></td>
				<td class="text-end text-nowrap">{{ total_profit|currencyformat('USD') }}
			</tr>
		</tfoot>
	</table>
{% endblock %}
