{% extends 'layout.html' %}

{% block title %}Transactions{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>Transactions</h1>
	<p class="lead">All your transactions neatly listed.</p>

	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Type</th>
				<th>Symbol</th>
				<th class="text-end text-nowrap">Shares</th>
				<th class="text-end text-nowrap">Price</th>
				<th class="text-end text-nowrap">Cost</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items -%}
			<tr>
				<td>{{ moment(item.date_created).format('L LTS') }}</td>
				<td>{{ item.type.name }}</td>
				<td>{{ item.symbol }}</td>
				<td class="text-end text-nowrap">{{ item.shares }} pcs</td>
				<td class="text-end text-nowrap">{{ item.price|currencyformat('USD') }}</td>
				<td class="text-end text-nowrap">{{ item.cost|currencyformat('USD') }}</td>
			</tr>
			{% endfor -%}
		</tbody>
	</table>
{% endblock %}
